@font-face {
    font-family: "Norse Bold";
    src: url(Norse-Bold.otf);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
}

.odin-logo-container {
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Norse Bold";
    background-color: rgb(0, 0, 0, 50%);
    font-size: 72px;
    margin-left: auto;
    padding: 16px;
    position: relative;
    top: -800px;
}

img[src="styles/odin-lined.png"] {
    width: 100px;
}

.photo-credits {
    color: white;
    text-align: center;
    position: relative;
    top: -325px;
}

.photo-credits a {
    color: white;
}

.left-side-container {
    width: 700px;
    height: 1050px;
    position: relative;
}

.background-image {
    object-fit: cover;
    height: auto;
    width: 700px;
}

.right-side-container {
    width: auto;
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
}

p {
    font-size: large;
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

li {
    list-style: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 8px;
}

form {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.form-container {
    height: 425px;
    padding-right: 12rem;
    padding-left: 6rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.75);
    clip-path: inset(0px 0px -15px 0px);
}

.create-account-container {
    padding-left: 6rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.create-account-button {
    background-color: rgb(89,109,72);
    color: white;
    border-radius: 15px;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
}

.log-in-link {
    text-decoration: none;
    color: rgb(89,109,72);;
}

.create-account-container > p {
    font-size: 16px;
    font-weight: 500;
}

input {
    border-radius: 3px;
    border: 0px;
    padding: 4px 8px;
}

input:invalid {
    outline: 1px solid rgb(196, 64, 64);
}

input:focus {
    outline: 1px solid rgb(80,117,223);
}

#password-match-text {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 100;
    color: rgb(196, 64, 64);
}